.address-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.address-form {
    width: 45%;
}

.address-form__heading {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 80px;
    margin: 0;
    text-align: center;
}

.address-form__inner {
    width: 100%;
}

.address-form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.address-form__label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.address-form__input {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    width: 100%;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #5f5f5f;
}

.address-form__error-message {
    color: #ff5555;
    font-size: 20px;
}

.address-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #ff5555;
    margin-top: 30px;
}
