.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 12px;
}

.search-form__input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 24px;
}

.search-form__input::placeholder {
    color: #000000;
    opacity: 1;
    padding-left: 10px;
}

.search-form__hidden-button {
    display: none;
}

.login-link,
.logout-form__button,
.mypage-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.sell-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}
