.app {
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background-color: #000000;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content {
    padding: 0 20px;
}
