.profile-edit-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.profile-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form__heading {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.profile-form__inner {
    width: 100%;
}

.profile-form__image-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.profile-form__image-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.profile-form__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.profile-form__image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.profile-form__image-input {
    display: none;
}

.profile-form__image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    height: 49px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #ff5555;
    cursor: pointer;
    color: #ff5555;
    background-color: #ffffff;
}

.profile-form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.profile-form__label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.profile-form__input {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    width: 100%;
    padding: 15px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #5f5f5f;
}

.profile-form__error-message {
    color: #ff5555;
    font-size: 20px;
}

.profile-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #ff5555;
    margin-top: 30px;
}
